@use "../utils" as *;

.route-page {
  width: 100%;
  min-height: 30rem;
  display: grid;
  place-items: center;
  padding-bottom: 5rem;

  h1 {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 5rem;
  }

  img {
    width: min(100%, 50rem);
  }
}
