:root {
  font-size: 62.5%;

  --Bright-Red: hsl(12, 88%, 59%);
  --Bright-Red-hover: hsl(12, 85%, 62%);
  --Dark-Blue: hsl(228, 39%, 23%);
  --Dark-Grayish-Blue: hsl(227, 12%, 61%);
  --Very-Dark-Blue: hsl(233, 12%, 13%);
  --Very-Pale-Red: hsl(13, 100%, 96%);
  --Vary-Light-Gray: hsl(0, 0%, 98%);

  --font-size-1: clamp(3rem, 8.1vw, 4rem);
  --font-size-2: clamp(2.5rem, 6vw, 3.5rem);
  --font-size-3: clamp(1.4rem, 3.7vw, 1.6rem);

  --max-width-1: min(100%, 110rem);
  --max-width-2: min(80%, 140rem);
  --max-width-3: min(100%, 40rem);

  --transition-1: 0.5s ease-in-out;
  --border-radius-1: 2em;

  --bg-simplify-section-mobile: url("../../images/bg-simplify-section-mobile.svg");
  --bg-simplify-section-desktop: url("../../images/bg-simplify-section-desktop.svg");
}

@mixin desktop {
  @media (min-width: 61.25em) {
    @content;
  }
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-3);
  color: var(--Dark-Blue);

  h1 {
    font-size: var(--font-size-1);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.9rem;
  }
  h2 {
    font-size: var(--font-size-2);
  }

  p {
    color: var(--Dark-Grayish-Blue);
  }

  button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &.get-started-btn {
      background: var(--Bright-Red);
      color: white;
      border-radius: var(--border-radius-1);
      padding: 0.7em 2em;
      position: relative;

      &:hover {
        background: var(--Bright-Red-hover);
      }
    }
  }
}
