@use "../utils" as *;

.footer-top-section {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 5rem 3rem;
  background: url("../../images/bg-simplify-section-mobile.svg") no-repeat left,
    var(--Bright-Red);
  color: white;

  @include desktop {
    background: url("../../images/bg-simplify-section-desktop.svg") no-repeat
        center,
      var(--Bright-Red);

    padding: 5rem 0rem;
  }

  .footer-top-section-center {
    width: min(80%, 30rem);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include desktop {
      width: min(80%, 100rem);
      flex-direction: row;
      justify-content: space-between;
    }

    h2 {
      font-weight: 500;

      @include desktop {
        width: min(80%, 41rem);
        text-align: left;
      }
    }

    button {
      background: white;
      color: var(--Bright-Red);
      font-weight: 700;

      &:hover {
        background: white;
        color: var(--Bright-Red-hover);
      }
    }
  }
}

.footer-bottom-section {
  background: var(--Very-Dark-Blue);
  color: white;

  li {
    img {
      &:hover {
        filter: invert(49%) sepia(54%) saturate(3505%) hue-rotate(339deg)
          brightness(99%) contrast(92%);
      }
    }
  }
}
