@use "../utils" as *;

.footer-top-section {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 5rem 3rem;
  background: url("../../images/bg-simplify-section-mobile.svg") no-repeat left,
    var(--Bright-Red);
  color: white;

  @include desktop {
    background: url("../../images/bg-simplify-section-desktop.svg") no-repeat
        center,
      var(--Bright-Red);

    padding: 5rem 0rem;
  }

  .footer-top-section-center {
    width: min(80%, 30rem);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include desktop {
      width: min(80%, 100rem);
      flex-direction: row;
      justify-content: space-between;
    }

    h2 {
      font-weight: 500;

      @include desktop {
        width: min(80%, 41rem);
        text-align: left;
      }
    }

    button {
      background: white;
      color: var(--Bright-Red);
      font-weight: 700;

      &:hover {
        background: white;
        color: var(--Bright-Red-hover);
      }
    }
  }
}

.footer-bottom-section {
  background: var(--Very-Dark-Blue);
  color: white;
  display: grid;
  place-items: center;
  padding: 5rem 0;

  &-center {
    width: min(80%, 46.7rem);
    display: grid;
    gap: 5rem;

    @include desktop {
      width: var(--max-width-2);
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, auto);
    }

    form {
      width: 100%;
      grid-row: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      input {
        width: 100%;
        padding: 1em 2em;
        border-radius: var(--border-radius-1);
      }
      button {
        background: var(--Bright-Red);
        padding: 1em 2em;
        border-radius: var(--border-radius-1);
        color: white;
      }

      @include desktop {
        grid-column: 3;
      }
    }

    .footer-links-container {
      width: var(--max-width-3);
      display: flex;
      justify-content: space-between;
      grid-row: 2;
      margin: 0 auto;

      @include desktop {
        grid-column: 2;
        grid-row: 1 / span 2;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;

        li:hover {
          color: var(--Bright-Red);
        }
      }
    }

    .logo-socials {
      width: var(--max-width-3);
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 5rem;
      margin: 0 auto;

      @include desktop {
        grid-column: 1;
        grid-row: 1 / span 2;
        flex-direction: column;
      }

      .socials-container {
        width: 100%;
        display: flex;
        justify-content: space-between;

        img {
          width: 4.2rem;
        }
      }
    }

    p {
      text-align: center;

      @include desktop {
        grid-column: 3;
        grid-row: 2;
      }
    }
  }

  li {
    img {
      &:hover {
        filter: invert(49%) sepia(54%) saturate(3505%) hue-rotate(339deg)
          brightness(99%) contrast(92%);
      }
    }
  }
}
