@use "../utils" as *;

nav {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 5rem 3rem;

  .nav-center {
    width: var(--max-width-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    .nav-links,
    .get-started-btn {
      display: none;
    }

    @include desktop {
      .nav-links,
      .get-started-btn {
        display: flex;
      }

      .nav-links {
        gap: 1.5rem;
        font-weight: 500;

        li button {
          color: var(--Dark-Blue);

          &:hover {
            color: var(--Dark-Grayish-Blue);
          }
        }
      }

      .submenu-btn {
        display: none;
      }
    }
  }
}
