@use "../utils" as *;

.reviews {
  overflow: hidden;
  text-align: center;
  margin-bottom: 10rem;

  h2 {
    margin-bottom: 6rem;
  }

  .reviews-container {
    width: 100%;
    margin-bottom: 5.5rem;

    .review {
      padding: 5rem 0rem;
      background: var(--Vary-Light-Gray);
      position: relative;
      text-align: center;

      img {
        width: 6rem;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      h3 {
        margin-bottom: 1.5rem;
      }

      p {
        width: min(80%, 37.2rem);
        margin: 0 auto;
      }
    }
  }
}

// swiper
.swiper {
  overflow: visible !important;

  .swiper-slide {
    width: min(80%, 50rem) !important;
  }

  .bobo {
    background: var(--Bright-Red);
  }

  .swiper-pagination-horizontal {
    bottom: -3rem !important;
  }
}
